
.container-1, .container-2 {
    width: 50%;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
}

.card{
    margin-bottom: 45px;
}

#match-data {
    margin-top: 30px;
}

#score-form-div{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    justify-content: space-around;
}

#score-form-div div{
    min-width: 120px;
    width: 24%;
}

#match-data{
    margin-left:auto;
    margin-right:0;
}

#next-page{
    position: absolute;
    right: 25%;
}

#table{
    overflow-x: scroll;
    white-space: nowrap;
}

select{
    min-width: 160px;
}

#match-history-table-div{
    margin-top: 15px;
}